include ../../templates/mixins.jade
    
+partial('digital-clock')
  .digital-clock
    .digital-container
      .digital-clock__.
        <div id="digital-date"></div>
        <ul>
        <li id="digital-hours"> </li>
        <li id="digital-point">:</li>
        <li id="digital-min"> </li>
        <li id="digital-point">:</li>
        <li id="digital-sec"> </li>
        </ul>
          
        
