#home-page(data-role='page', data-theme='b')
  #header1

  .content
    .row
      .col-md-offset-1.col-md-10.col-md-offset-1
        .row
          .col-md-offset-1.col-md-10.col-md-offset-1
            .col-sm-4.
              {{>b-notification-box {opt: 'red', icon: 'warning', label: 'Important Messages', val: getImportantCount(rss)} }}
            .col-sm-4.
              {{>b-notification-box {opt: 'green', label: 'Announcement', val: curr_index + 1, val2: getEntriesLength(rss)} }}
            .col-sm-4.
              {{>b-notification-box {opt: 'yellow', icon: 'bell-o', val: isNew(rss.entries[curr_index].publishedDate, 3600), label: 'New Announcement'} }}
    .row
      .col-md-offset-1.col-md-10.col-md-offset-1
        .row
          .col-md-offset-1.col-md-10.col-md-offset-1
            | {{#with {entry: rss.entries[curr_index]} }}
            .rss-notification-box
              div(class="panel panel-{{ entry.title.match(/^!/) ? 'red' : 'primary' }}")
                .panel-heading
                  .row
                    .col-xs-9.huge
                      | {{ entry.title }}
                    
                    .col-xs-3
                      i(class="fa fa-{{ .icon ? icon : 'comment' }} fa-4x pull-right")
                      | {{#if isNew(entry.publishedDate, 3600) }}
                      i(class="fa fa-bell-o fa-4x pull-right")
                      | {{/if}}
                    .row.pull-right
                      .col-sm-12.huge.
                        {{ getSender(entry.content) }}
                                    
                  
                div
                  .span.pull-left.rss-title(style= 'min-height: 13em')
                    |  {{{ getAnnouncement(entry.content) }}} 
                  .clearfix
            | {{/with}}
        .row
          .col-md-offset-1.col-md-8.
            {{> digital-clock {} }}
          .col-md-2.
            {{> weather{} }}
            

  | {{>connection-status {}}}
