#home-page(data-role='page', data-theme='b')
  #header1

  .content
    .row
      .col-md-offset-1.col-md-10.col-md-offset-1
        .row
          .col-md-offset-1.col-md-10.col-md-offset-1
            .col-lg-3.col-md-6.
              {{>b-notification-box {opt: 'red', icon: 'warning', label: 'Important Messages', val: getImportantCount(testRss)} }}
            .col-lg-3.col-md-6.
              {{>b-notification-box {opt: 'green', icon: 'user', label: 'Online'} }}
            .col-lg-3.col-md-6.
              {{>b-notification-box {opt: 'red', label: 'Alert', icon: 'warning'} }}
            .col-lg-3.col-md-6.
              {{>b-notification-box {opt: 'yellow'} }}
    .row
      .col-md-offset-1.col-md-10.col-md-offset-1
        .row
          .col-md-offset-1.col-md-10.col-md-offset-1
            div(style='height:100; width: 300px; background: red')
              | {{}}
            | {{#testRss.entries:i}}
            | {{#if i<2 }}
            .rss-notification-box
              div(class="panel panel-{{ .title.match(/^!/) ? 'red' : 'primary' }}")
                .panel-heading
                  .row
                    .col-xs-9.huge
                      | {{ .title }}
                    .col-xs-3
                      i(class="fa fa-{{ .icon ? icon : 'comment' }} fa-4x pull-right")
                  
                div
                  .span.pull-left.rss-title
                    | <!--
                    |  {{{ rss.entries[i].content }}} -->
                    |  <p> i: {{ i }} </p>
                  .clearfix
            | {{/if}}
            | {{/rss.entries}}
        .row
          .col-md-offset-1.col-md-8.
            {{> digital-clock {} }}
          .col-md-2.
            {{> weather{} }}
            

  | {{>connection-status {}}}
  
  //
    
    {{#each rss.entries:i}}
    {{#if i<4 }}
    {{/if}}
    <p><strong> {{ rss.entries[i].title }} </strong></p>
    {{/each}}
    
