
.huge {
    font-size: 60px;
}
.rss-title {
    font-size: 25px;
}
.rss-content {
    font-size: 35px;
}
.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}
.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #d9534f;
}
.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}
